src/main/mule/mdp-e-commerce-p-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
    <http:listener-config name="mdp-e-commerce-p-api-httpListenerConfig">
        <http:listener-connection host="${https.listener.host}" port="${https.listener.port}" readTimeout="${https.listener.timeout}"/>
    </http:listener-config>
    <apikit:config name="mdp-e-commerce-p-api-config" api="mdp-e-commerce-p-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config" doc:id="335e0c9f-47cd-4acc-babf-31a40c1a3ff3" environment="${env}" />
    
    
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="92874c0b-77ed-4dfb-8675-dbf5e863bc09" >
		<salesforce:basic-connection username="sasikudimi96@force.com" password="Sasikumar@96" securityToken="KFOjrccGfKdE0iRGgQ3wNty9c" />
	</salesforce:sfdc-config>
	<flow name="mdp-e-commerce-p-api-main">
        <http:listener config-ref="mdp-e-commerce-p-api-httpListenerConfig" path="${https.listener.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mdp-e-commerce-p-api-config" />
		<error-handler ref="comon-error-handler" />
    </flow>
    <flow name="mdp-e-commerce-p-api-console">
        <http:listener config-ref="mdp-e-commerce-p-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mdp-e-commerce-p-api-config" />
		<error-handler ref="comon-error-handler" />
    </flow>
    <flow name="post:\create:application\json:mdp-e-commerce-p-api-config">
        <json-logger:logger doc:name="Start Log" doc:id="8296e6b9-2870-4766-bfcc-6cf83f555f51" config-ref="JSON_Logger_Config" message="create data flow started" />
        <flow-ref doc:name="Flow Reference" doc:id="9759af28-b126-4a0c-8428-8a0b0a3b046d" name="mdp-e-commerce-p-apiFlow"/>
		<!-- <http:request method="POST" doc:name="Request" doc:id="cec1e9f9-0092-4fb7-819c-79cdb48bf755" config-ref="HTTP_Request_configuration" path="${orders.https.get.path}"/> -->
		<flow-ref doc:name="Flow Reference" doc:id="be38775b-4c4e-403b-a075-257bdc4125ac" name="mdp-e-commerce-p-apiSub_Flow"/>
		<http:request method="POST" doc:name="Request" doc:id="2cd2bf3b-c6a2-466b-9d1a-b5a52fb0eeb2" config-ref="HTTP_Request_configuration" path="${orders.https.path}"/>
		<json-logger:logger doc:name="End Log" doc:id="c8919439-b6b1-4e72-b9fb-058defe838dc" config-ref="JSON_Logger_Config" message="create data flow ended" tracePoint="END" />
    </flow>
	<flow name="mdp-e-commerce-p-apiFlow" doc:id="0c6cb3cf-f249-4668-adbf-0191a8090d5d" >
		<json-logger:logger doc:name="Start Log" doc:id="5e8afb51-cacb-491d-a570-1d48341493b7" config-ref="JSON_Logger_Config" message="Batch job process flow started" />
		<batch:job jobName="mdp-e-commerce-p-apiBatch_Job" doc:id="775880fd-f2c2-455c-ac4f-a22bb0167273" blockSize="50">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="669e0b1b-8136-4ba4-9bd8-f47a0f5bc90e" acceptPolicy="ALL">
					<ee:transform doc:name="Transform Message" doc:id="b200101b-3f03-4a88-83b9-0b79dd371696">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	"order_id_c" : "1",
	"customer_name_c" : "Ediva-Ungerechts",
	"product_c" : "Rabbit - Saddles",
	"customer_address_c" : "6785 Eliot Road",
	"customer_contact_c" : "7262604712",
	"order_type_c" : "online",
	"regionOfSale_c" : "Oklahoma",
	"orderValue_c" : "813.23"
	
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="628d96ae-a7f0-466f-b3c9-003f81c3fea4" size="30">
						<salesforce:create doc:name="Create" doc:id="cc34ec9c-2808-4d68-93ca-be6bbef348d3" config-ref="Salesforce_Config" type="Orders__c" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<json-logger:logger doc:name="End Log" doc:id="ee66156b-a11e-41ce-bdfd-3fd14210f1a5" config-ref="JSON_Logger_Config" message="Batch job process flow ended" tracePoint="END"/>
			</batch:on-complete>
		</batch:job>
	</flow>
	<sub-flow name="mdp-e-commerce-p-apiSub_Flow" doc:id="cc6d4eb8-56e1-4e67-b0ad-4b7bd1035129" >
		<json-logger:logger doc:name="Start Log" doc:id="86ee3827-119a-45e6-b57c-55692f788f16" config-ref="JSON_Logger_Config" message="Data fetching from salesforce flow started"/>
		<salesforce:query doc:name="Query" doc:id="3ac6accd-1bc0-425d-ae9c-752447ad4037" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[Select order_id,customer_name,product,customer_address,customer_contact,order_type,regionOfSale,orderValue from Orders_c]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="63b0f7c2-7344-4446-8596-514e1a857ade" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="End Log" doc:id="4b8e81ed-54e0-422d-b5da-7d8c0e087ac2" config-ref="JSON_Logger_Config" message="Data fetching from salesforce flow ended" tracePoint="END"/>
	</sub-flow>
</mule>
